<main>
    <h1>Registration Advanced .NET AIUB</h1>
    <form method="post" action="">
        <b>Name:</b>
        <input type="text" value="@Model.Name" placeholder="Name" class="form-control" name="Name" />

        <span class="text-danger">@Html.ValidationMessage("Name")</span><br />
        <b>Id:</b>
        <input type="text" value="@Model.Id" placeholder="Id" class="form-control" name="Id" />

        <span class="text-danger">@Html.ValidationMessage("Id")</span><br />
        <b>Username:</b>
        <input type="text" value="@Model.Username" placeholder="Username" class="form-control" name="Username" />

        <span class="text-danger">@Html.ValidationMessage("Username")</span><br />
        <b>Email:</b>
        <input type="text" value="@Model.Email" placeholder="Email" class="form-control" name="Email" />

        <span class="text-danger">@Html.ValidationMessage("Email")</span><br />
        <input type="submit" value="SignUp" class="btn btn-danger" />
    </form>

</main>