@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <a href="@Url.Action("Index", "Home")">Index</a>
    <a href="@Url.Action("Education", "Home")">Education</a>
    <a href="@Url.Action("Personal", "Home")">Personal</a>
    <a href="@Url.Action("Projects", "Home")">Projects</a>
    <a href="@Url.Action("Reference", "Home")">Reference</a>



    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>