
@{
    ViewBag.Title = "Education";
}


<main>
    <a href="@Url.Action("Index", "Home")">Index</a>
    <a href="@Url.Action("Education", "Home")">Education</a>
    <a href="@Url.Action("Personal", "Home")">Personal</a>
    <a href="@Url.Action("Projects", "Home")">Projects</a>
    <a href="@Url.Action("Reference", "Home")">Reference</a>
    <h2>Education</h2>
    <table border="1">
        <tr>
            <th>Degree</th>
            <th>Year</th>
            <th>Institute</th>
        </tr>
        <tr>
            <td>SSC</td>
            <td>2017</td>
            <td>Jamalpur Zilla School</td>
        </tr>
        <tr>
            <td>HSC</td>
            <td>2019</td>
            <td> Ashek Mahmud College</td>
        </tr>
        <tr>
            <td>BSc</td>
            <td>2024</td>
            <td>American International University</td>
        </tr>

    </table>
</main>

