@{
    ViewBag.Title = "Home Page";
}

<main>
<a href="@Url.Action("Index", "Home")">Index</a>
<a href="@Url.Action("Education", "Home")">Education</a>
<a href="@Url.Action("Personal", "Home")">Personal</a>
<a href="@Url.Action("Projects", "Home")">Projects</a>
<a href="@Url.Action("Reference", "Home")">Reference</a>


    <h1>Name: MD. RAKIBUL HASAN</h1>
    <h2>ID: 21-44418-1</h2>
    <h3>Email: <a href="rakibulnmrh4bd@gmail.com">rakibulnmrh4bd@gmail.com</a></h3>

</main>