
@{
    ViewBag.Title = "Reference";
}


<a href="@Url.Action("Index", "Home")">Index</a>
<a href="@Url.Action("Education", "Home")">Education</a>
<a href="@Url.Action("Personal", "Home")">Personal</a>
<a href="@Url.Action("Projects", "Home")">Projects</a>
<a href="@Url.Action("Reference", "Home")">Reference</a>

<h2>Reference</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Institute</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>Shibaji Mridha</td>
        <td>Assistant Professor</td>
        <td>Faculty of Arts & Social Science</td>
        <td>
            <a href="mailto:smridha@aiub.edu">
                smridha@aiub.edu
            </a>
</td>
</tr>
<tr>
<td>Zahiduddin Ahmed</td>
<td>Assistant Professor</td>
<td>Faculty Of Science And Technology</td>
<td>
        
    <a href="mailto:zahid@aiub.edu">
        zahid@aiub.edu </a>
</td>
</tr>
</table>
