
@{
    ViewBag.Title = "Personal";
}


<h2>Personal</h2>
<p>@ViewBag.Message</p>
<h2>Personal Details</h2>
<p><strong>First Name: @ViewBag.personInfo.FirstName</strong>  </p>
<p><strong>Last Name: @ViewBag.personInfo.LastName </strong>  </p>
<p><strong>Father's Name: @ViewBag.personInfo.FatherName</strong>  </p>
<p><strong>Mother's Name: @ViewBag.personInfo.MotherName</strong>  </p>
<p><strong>Date of Birth: @ViewBag.personInfo.DateOfBirth</strong></p>
<p><strong>Blood Group: @ViewBag.personInfo.BloodGroup</strong></p>
<p><strong>Mobile Number: @ViewBag.personInfo.MobileNumber</strong></p>
<p><strong>Email: @ViewBag.personInfo.Email</strong></p>
<p><strong>Address: @ViewBag.personInfo.Address</strong></p>
<p><strong>Website: <a href="@ViewBag.personInfo.Website">@ViewBag.personInfo.Website</a></strong></p>
